p {
    margin: 0;
}

.todo {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px 30px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: 5px solid black;

    .complete-checkbox {
        width: 49px;
        height: 49px;
    }

    .todo-name {
        margin-right: auto;
    }

    .edit,
    .delete {
        height: 43px;
        width: 43px;
        transition: width 0.3s;
    }

    .edit:hover,
    .delete:hover {
        height: 49px;
        width: 49px;
        margin: -3px -3px -3px -3px;
    }
}